<div class="body-dashboard">
  <div class="dashboard">
    <ul>
      <li>
        <i class="fa-solid fa-user icon" id="user"></i>
        <span class="nav-item logo-dashboard">Nombre Usuario</span>
      </li>
      <li><a class="a-dashboard" href=""><i class="fa-solid fa-calendar-days icon"></i><span class="nav-item">Ver Reservas</span></a></li>
      <li><a class="a-dashboard" href=""><i class="fa-solid fa-right-from-bracket icon"></i><span class="nav-item">Cerrar Sesión</span></a></li>
    </ul>
  </div>
</div>
<div class="buscador">
  <h1 class="h1-buscador">Buscar Usuario</h1>
  <p>Puedes buscar el usuario por su nombre de usuario, su correo o la id de su reserva</p>
  <input type="text">
  <br>
  <button class="boton"><span>Buscar</span></button>
</div>
<div class="tabla">
  <h1 class="h1-lista">Lista de usuario</h1>
  <table border="8">
    <tr>
      <td class="titulo-tabla" id="usuario-tabla">Usuario</td>
      <td class="titulo-tabla" id="destino-tabla">Destino</td>
      <td class="titulo-tabla" id="pago-tabla">¿Realizó el pago?</td>
    </tr>
    <tr>
      <td>Usuario ejemplo</td>
      <td>Destino ejemplo</td>
      <td>¿Realizó el pago? ejemplo</td>
    </tr>
  </table>
</div>





