<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>colombiaTravels</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <base routerLink="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<nav class="main-nav">
  <div class="logo">
      <span>
        <a class="avion" routerLink="/"><i class="fa-solid fa-plane"></i> Viaja por Colombia</a>
      </span>
  </div>
  <ul>
    <li><a routerLink="/"><i class="fa-solid fa-house"></i> Inicio</a></li>
    <li><a routerLink="/galeria"><i class="fa-solid fa-camera"></i> Galeria</a></li>
    <li><a routerLink="/lugares"><i class="fa-solid fa-mountain-sun"></i> Lugares</a></li>
    <li><a routerLink="/contactanos"><i class="fa-solid fa-phone"></i> Contáctanos</a></li>
    <li><a routerLink="/login"><i class="fa-solid fa-right-to-bracket"></i> Iniciar Sesion</a></li>
    <li><a routerLink="/registro"><i class="fa-solid fa-address-card"></i> Registrate</a></li>
  </ul>
</nav>
<router-outlet>

</router-outlet>
