<div class="body-login">
  <div class="login-box">
    <img class="avatar-login" src="https://static.vecteezy.com/system/resources/previews/004/854/032/non_2x/colombia-map-on-black-background-vector.jpg">
    <h1>¡¡Realiza tu reservación ahora!!</h1>
    <form action="">
      <label for="salida">Fecha de Salida (*)</label>
      <input type="date"  required>
      <label for="regreso">Fecha de Regreso (*)</label>
      <input type="date"  required>
      <label for="ciudad-salida">Ciudad de Salida (*)</label>
      <select name="" id="">
        <option value="bogota">Bogota</option>
        <option value="cali">Cali</option>
        <option value="medellin">Medellin</option>
        <option value="cartagena">Cartagena</option>
        <option value="san_andres">San Andres</option>
        <option value="santa_marta">Santa Marta</option>
        <option value="cinque_terre">Cinque Terre</option>
        <option value="new_york">New York</option>
        <option value="san_francisco">San Francisco</option>
        <option value="pisa">Pisa</option>
        <option value="paris">Paris</option>
        <option value="noruega">Costa oeste, Noruega</option>
        <option value="australia">Montañas, Austria</option>
      </select>
      <label for="ciudad-salida">Ciudad de Destino (*)</label>
      <select name="" id="">
        <option value="bogota">Bogota</option>
        <option value="cali">Cali</option>
        <option value="medellin">Medellin</option>
        <option value="cartagena">Cartagena</option>
        <option value="san_andres">San Andres</option>
        <option value="santa_marta">Santa Marta</option>
        <option value="manizales">Manizales</option>
        <option value="bucaramanga">Bucaramanga</option>
        <option value="barranquilla">Barranquilla</option>
      </select>
      <label for="adultos">Adultos (*)</label>
      <input type="number" [defaultValue]="1" min="1" max="8" required>
      <label for="ninos">Niños (*)</label>
      <input type="number" [defaultValue]="0" min="0" max="8" required>
      <label for="nombres">Nombres Completos (*)</label>
      <input type="text" placeholder="Ingresar sus nombres" required>
      <label for="cedula">Cédula de Ciudadania (*)</label>
      <input type="number" min="0" required>
      <label for="correo">Correo (*)</label>
      <input type="email" placeholder="Ingresar Correo Electrónico" required>
      <label for="telefono">Número de Telefono (*)</label>
      <input type="text" placeholder="Ingresar Número de Telefono" required>
      <label for="pago">Número de Tarjeta de Pago (*)</label>
      <input type="number" min="0" required>
      <label for="ccv">CCV (*)</label>
      <input type="number" min="0" max="999" required>
      <label for="cuotas">Número de Cuotas (*)</label>
      <input type="number" min="0" max="6" required>
      <label for="cedula">Total a Pagar</label>
      <input type="number" min="0" required>
      <br><br>
      <a class="a-reservas" routerLink="/reserva-existosa"><input type="submit" value="Reservar y Realizar Pago"></a>
    </form>
  </div>
</div>
