<div class="body-contactanos">
  <div class="content-contactanos">
    <h1 class="logo-contactanos"> <span id="amarillo">Cont</span><span id="azul">ácta</span><span id="rojo">nos</span></h1>

    <div class="contact-wrapper-contactanos">
        <div class="contact-form-contactanos">
            <h2>Ingresa tus datos</h2>
            <form action="">
                <p>
                    <label for="nombre">Nombre Completo</label>
                    <input type="text" id="nombre" autocomplete="off" required>
                </p>
                <p>
                    <label for="correo">Correo Electrónico</label>
                    <input type="email" id="correo" autocomplete="off" required>
                </p>
                <p>
                    <label for="telefono">Número de Telefono</label>
                    <input type="text" id="telefono" autocomplete="off" required>
                </p>
                <p>
                    <label for="asunto">Asunto</label>
                    <input type="text" id="asunto" autocomplete="off" required>
                </p>
                <p class="block-contactanos">
                    <label for="mensaje">Mensaje</label>
                    <textarea id="mensaje" rows="3" autocomplete="off" required></textarea>
                </p>
                <p class="block-contactanos">
                    <button type="submit">
                        Enviar
                    </button>
                </p>
            </form>
        </div>
        <div class="contact-info-contactanos">
            <h3>Sobre Nostros</h3>
            <ul>
                <li><i class="fa-solid fa-location-dot"></i> Alguna Dirección</li>
                <li><i class="fa-solid fa-phone"></i> +57 310 886 1234</li>
                <a class="a-contact" href="https://www.google.com/intl/es-419/gmail/about/" target="_blank"><li><i class="fa-solid fa-envelope"></i> colombia@travel.co</li></a>
            </ul>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi a autem dolore eaque maxime minima alias nostrum repellat sapiente? Rem maiores quisquam quasi provident minus porro, laudantium amet qui corporis!</p>
            <a class="a-contact" href="https://www.google.com/intl/es-419/gmail/about/"><p>ColombiaTravels.com</p></a>
            <h3>Nuestras Redes</h3>
            <ul>
                <a class="a-contact" href="https://www.instagram.com/?hl=es" target="_blank"><li><i class="fa-brands fa-instagram"></i> Instagram</li></a>
                <a class="a-contact" href="https://www.facebook.com" target="_blank"><li><i class="fa-brands fa-facebook"></i> Facebook</li></a>
                <a class="a-contact" href="https://twitter.com/home?lang=es" target="_blank"><li><i class="fa-brands fa-twitter"></i> Twitter</li></a>
            </ul>
        </div>
    </div>
  </div>
</div>
