<div class="body-login">
  <div class="login-box">
    <img class="avatar-login" src="https://static.vecteezy.com/system/resources/previews/004/854/032/non_2x/colombia-map-on-black-background-vector.jpg">
    <h1>Inicia Sesión</h1>
    <form action="">
      <label for="username">Nombre de Usuario (*)</label>
      <input type="text" placeholder="Ingresar Usuario" required>
      <label for="contrasena">Contraseña (*)</label>
      <input type="password" placeholder="Ingresar Contraseña" required>
      <br><br>
      <input type="submit" value="login">
      <br>
      <a href="https://support.google.com/accounts/answer/41078?hl=es-419&co=GENIE.Platform%3DAndroid" target="_blank">¿Olvidaste tú Contraseña?</a><br>
      <a routerLink="/registro">¿Aún no tienes cuenta?</a>
    </form>
  </div>
</div>
