<div class="body-login">
  <div class="login-box">
    <img class="avatar-login" src="https://static.vecteezy.com/system/resources/previews/004/854/032/non_2x/colombia-map-on-black-background-vector.jpg">
    <h1>Regístrate</h1>
    <form action="">
      <label for="name">Nombre Completo (*)</label>
      <input type="text" placeholder="Ingresar su Nombre" required>
      <label for="date">Fecha de Nacimiento (*)</label>
      <input type="date" required>
      <label for="genero">Género</label>
      <select name="" id="">
        <option value="hombre">Hombre</option>
        <option value="mujer">Mujer</option>
        <option value="otro">Otro</option>
      </select>
      <label for="email">Correo Electrónico (*)</label>
      <input type="email" placeholder="Ingresar Correo Electrónico" required>
      <label for="username">Nombre de Usuario (*)</label>
      <input type="text" placeholder="Ingresar su Nombre de Usuario" required>
      <label for="contrasena">Contraseña (*)</label>
      <input type="password" placeholder="Ingresar su Contraseña" required>
      <br><br>
      <input type="submit" value="registrarse">
      <br>
      <p>Al registrarse estás aceptado nuestras condiciones de uso y política de privacidad.
        pulsa <a href="https://www.mintic.gov.co/portal/inicio/Secciones-auxiliares/Politicas/2627:Politicas-de-Privacidad-y-Condiciones-de-Uso" target="_blank"> Aquí</a> para verlos.</p>
        <br>
        <p>¿Ya tienes cuenta? <a routerLink="/login"> Iniciar Sesión</a></p>
    </form>
  </div>
</div>
