<div class="body-registro">
  <form action="" class="formulario-registro">
    <h1 class="h1-registro">Regístrate</h1>
    <div class="contenedor-registro">
        <div class="input-contenedor-registro">
            <i class="fas fa-user icon-registro"></i>
            <input type="text" placeholder="Nombre Completo">
        </div>
        <div class="input-contenedor-registro">
          <i class="fa-regular fa-calendar icon-registro"></i>
          <input type="date" placeholder="Fecha de Nacimiento">
        </div>
        <div class="input-contenedor-registro">
          <i class="fa-solid fa-venus-mars icon-registro"></i>
          <select name="" id="">
            <option value="hombre">Hombre</option>
            <option value="mujer">Mujer</option>
            <option value="otro">Otro</option>
          </select>
        </div>
        <div class="input-contenedor-registro">
            <i class="fas fa-envelope icon-registro"></i>
            <input type="email" placeholder="Correo Electrónico">
        </div>
        <div class="input-contenedor-registro">
          <i class="fa-solid fa-user-secret icon-registro"></i>
          <input type="text" placeholder="Nombre de Usuario">
      </div>
        <div class="input-contenedor-registro">
            <i class="fas fa-key icon-registro"></i>
            <input type="password" placeholder="Contraseña">
        </div>
        <input type="submit" value="Regístrate" class="button-registro">
        <p class="p-registro">Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad. Pulsa <a href="https://policies.google.com/terms?hl=es" class="link-registro" target="_blank"> Aquí</a> para verlos</p>
        <p class="p-registro">¿Ya tienes una cuenta?<a routerLink="/login" class="link-registro">Iniciar Sesión</a></p>

        <br><br>
        <h3 class="h3-registro">¡Consigue las mejores ofertas primero!</h3>
        <p class="p-registro">¿Quieres ser cliente premium y recibir nuestros mejores tratos y enterarte de las mejores ofertas antes que nadie? Ingresa tu número telefonico y te enviaremos información</p>
        <label for="">Telefono</label>
        <input type="text" placeholder="Número Telefónico">
        <button class="button-registro" type="submit">Pedir Info</button>
    </div>
  </form>
</div>
