<div class="se-pre-con"></div>
    <header class="ramcab_broadcram">





    </header>

    <!--broadcamp-->
    <div class="broadcamp_header_inside">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="inside_broad_text">
                        <h2>Nuestros lugares</h2>
                    </div><!--/.inside_broad_text-->
                </div>
            </div>
        </div><!--/.container-->
    </div>
    <!--broadcamp-->


    <!--top-destination-->
    <section class="top_destination_sec home2">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="title text-center">
                        <h3>Los mejores destinos de Colombia</h3>
                        <i class="icofont-island-alt"></i>
                        <p>En Colombia llevamos el ritmo en la sangre. Es un país que te hace vibrar con sus emociones, donde podrás elegir el destino de tu preferencia.</p>
                    </div><!--title-->
                </div>
            </div>
        </div><!--/.container-->

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="inside_destination_single">
                        <img src="img/cartagena.jpg" height="270" alt=""/>
                        <div class="hover_effct">
                            <h4>Cartagena</h4>
                            <a href="lugares/Cartagena.html" class="btn">Saber mas</a>
                        </div><!--/.hover_effct-->
                    </div><!--/.inside_destination_single-->
                </div>
                <div class="col-md-4">
                    <div class="inside_destination_single">
                        <img src="img/medellin.jpg" height="270" alt=""/>
                        <div class="hover_effct">
                            <h4>Medellín</h4>
                            <a href="lugares/Medellin.html" class="btn">Saber mas</a>
                        </div><!--/.hover_effct-->
                    </div><!--/.inside_destination_single-->
                </div>
                <div class="col-md-4">
                    <div class="inside_destination_single">
                        <img src="img/bogota.jpg" height="270" alt=""/>
                        <div class="hover_effct">
                            <h4>Bogotá</h4>
                            <a href="lugares/Bogota.html" class="btn">Saber mas</a>
                        </div><!--/.hover_effct-->
                    </div><!--/.inside_destination_single-->
                </div>
                <div class="col-md-4">
                    <div class="inside_destination_single">
                        <img src="img/Sanandres.jpg" height="270" alt=""/>
                        <div class="hover_effct">
                            <h4>San Andrés Isla</h4>
                            <a href="lugares/Sanandresilas.html" class="btn">Saber mas</a>
                        </div><!--/.hover_effct-->
                    </div><!--/.inside_destination_single-->
                </div>
                <div class="col-md-4">
                    <div class="inside_destination_single">
                        <img src="img/cali.jpeg" height="270" alt=""/>
                        <div class="hover_effct">
                            <h4>Cali</h4>
                            <a href="lugares/Cali.html" class="btn">Saber mas</a>
                        </div><!--/.hover_effct-->
                    </div><!--/.inside_destination_single-->
                </div>
                <div class="col-md-4">
                    <div class="inside_destination_single">
                        <img src="img/manizales.png" height="270" alt=""/>
                        <div class="hover_effct">
                            <h4>Manizales</h4>
                            <a href="lugares/Manizales.html" class="btn">Saber mas</a>
                        </div><!--/.hover_effct-->
                    </div><!--/.inside_destination_single-->
                </div>
                <div class="col-md-4">
                    <div class="inside_destination_single">
                        <img src="img/SantaMarta.jpeg"  height="270" alt=""/>
                        <div class="hover_effct">
                            <h4>Santa Marta</h4>
                            <a href="lugares/SantaMarta.html" class="btn">Saber mas</a>
                        </div><!--/.hover_effct-->
                    </div><!--/.inside_destination_single-->
                </div>
                <div class="col-md-4">
                    <div class="inside_destination_single">
                        <img src="img/Bucaramanga.jpg" height="270" alt=""/>
                        <div class="hover_effct">
                            <h4>Bucaramanga</h4>
                            <a href="lugares/Bucaramanga.html" class="btn">Saber mas</a>
                        </div><!--/.hover_effct-->
                    </div><!--/.inside_destination_single-->
                </div>
                <div class="col-md-4">
                    <div class="inside_destination_single">
                        <img src="img/barranquilla.jpg" height="270" alt=""/>
                        <div class="hover_effct">
                            <h4>Barranquilla</h4>
                            <a href="lugares/Barranquilla.html" class="btn">Saber mas</a>
                        </div><!--/.hover_effct-->
                    </div><!--/.inside_destination_single-->
                </div>

            </div>
        </div><!--container-fluid-->
    </section>
    <!--top-destination-->

    <!--testimonials-->
    <section class="testimonials_sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 test_tit_in">
                    <h3 class="testi_title">Nuestros clientes felices dicen!</h3>
                    <i class="fas fa-quote-left"></i>
                </div>
                <div class="w-100"></div>
                <div class="col-md-12">
                    <div class="owl-carousel" id="testimonials_slider_owl">
                        <div>
                            <div class="inside_testimonials">
                                <div class="media">
                                    <img src="img/clientes/client1.png" alt=""/>
                                    <div class="media-body">
                                        <h4>Jose rodrigues</h4>
                                        <h6>Contador</h6>
                                    </div>
                                </div>
                                <div class="excerpt">
                                    <p>Me gusta mucho el carnaval de barranquilla !</p>
                                </div>
                            </div><!--/.inside_testimonials-->
                        </div>
                        <div>
                            <div class="inside_testimonials">
                                <div class="media">
                                    <img src="img/clientes/client2.png" alt=""/>
                                    <div class="media-body">
                                        <h4>Eduardo peña</h4>
                                        <h6>Profesor</h6>
                                    </div>
                                </div>
                                <div class="excerpt">
                                    <p>Me encanto la Ciudad de Barranquilla :)</p>
                                </div>
                            </div><!--/.inside_testimonials-->
                        </div>
                        <div>
                            <div class="inside_testimonials">
                                <div class="media">
                                    <img src="img/clientes/client3.png" alt=""/>
                                    <div class="media-body">
                                        <h4>Luisa Garcia</h4>
                                        <h6>Doctora</h6>
                                    </div>
                                </div>
                                <div class="excerpt">
                                    <p>Muy Buenas Ciudades En especial Cali!</p>
                                </div>
                            </div><!--/.inside_testimonials-->
                        </div>

                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </section>
